<h4><%= @trip.title %> Settings</h4>
<%= render "form" %>

<% if @trip.polls %>
  <hr />
  <h3>Poll Optip</h3>
  <% @trip.polls.each do |poll| %>
    <%= poll.poll_type %>: <%= poll.title %>
  <% end %>
<% end %>