  <div id="active_groups">
    <%= render "active" %>
  </div>
  <% if current_user && current_user.is_admin? %>
  <hr />
  <div id="inactive_groups">
    <h4> Inactive Groups </h4>
    <%= render "inactive" %>
  </div>
  <% end %>