
<h3>Latest Trips</h3>
<div class="row">
	<div class="col-xs-12">
		<%= render "trips/active" %>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-xs-12">
 		<%= link_to "More Trips", trips_path %>
 	</div>
</div>