    <%= fields_for @trip do |f| %>
    <div id='files'>
      <%= f.fields_for :assets, child_index: number do |asset| %>
        <div>
          <%= asset.label :asset, "File ##{number += 1}" %>
          <%= asset.file_field :asset %>
        </div> 
      <% end %>
    </div>
    <% end %>
